PAPERLESS_BASE_URL=http://paperless:8000
PAPERLESS_API_TOKEN={{ paperless_stack_api_token_effective }}
LLM_PROVIDER={{ paperless_stack_gpt_llm_provider }}
LLM_MODEL={{ paperless_stack_gpt_model }}
OLLAMA_HOST={{ paperless_stack_ai_ollama_url }}
OLLAMA_CONTEXT_LENGTH={{ paperless_stack_gpt_context_length }}
TOKEN_LIMIT={{ paperless_stack_gpt_token_limit }}
OCR_PROVIDER=llm
VISION_LLM_PROVIDER={{ paperless_stack_gpt_vision_provider }}
VISION_LLM_MODEL={{ paperless_stack_gpt_vision_model }}
LOG_LEVEL={{ paperless_stack_gpt_log_level }}
