TZ={{ paperless_stack_timezone }}
PAPERLESS_URL={{ paperless_stack_url }}
PAPERLESS_TIME_ZONE={{ paperless_stack_timezone }}
PAPERLESS_REDIS=redis://redis:6379
PAPERLESS_DBHOST=postgres
PAPERLESS_DBNAME={{ paperless_stack_db_name }}
PAPERLESS_DBUSER={{ paperless_stack_db_user }}
PAPERLESS_DBPASS={{ paperless_stack_db_password }}
PAPERLESS_SECRET_KEY={{ paperless_stack_secret_key }}
PAPERLESS_ADMIN_USER={{ paperless_stack_admin_user }}
PAPERLESS_ADMIN_PASSWORD={{ paperless_stack_admin_password }}
PAPERLESS_ADMIN_MAIL={{ paperless_stack_admin_email }}
PAPERLESS_OCR_LANGUAGE={{ paperless_stack_ocr_language }}
PAPERLESS_TIKA_ENABLED={{ 1 if paperless_stack_tika_enabled else 0 }}
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://gotenberg:3000
PAPERLESS_TIKA_ENDPOINT=http://tika:9998
{% if paperless_stack_filename_format | length > 0 %}
PAPERLESS_FILENAME_FORMAT={{ paperless_stack_filename_format }}
{% endif %}
