TZ={{ paperless_stack_timezone }}
PAPERLESS_API_URL=http://paperless:8000/api
PAPERLESS_API_TOKEN={{ paperless_stack_api_token_effective }}
PAPERLESS_USERNAME={{ paperless_stack_paperless_username }}
AI_PROVIDER={{ paperless_stack_ai_provider }}
OLLAMA_API_URL={{ paperless_stack_ai_ollama_url }}
OLLAMA_MODEL={{ paperless_stack_ai_model }}
RAG_SERVICE_URL=http://paperless:8000
RAG_SERVICE_ENABLED={{ 'true' if paperless_stack_ai_rag_enabled else 'false' }}
SCAN_INTERVAL={{ paperless_stack_ai_scan_interval }}
PAPERLESS_URL=http://paperless:8000
